@use "/src/sass/colors/variables" as color;
@use "/src/sass/typography/variables" as *;

.list {
  list-style: none;

  &-item {
    font-size: map-get($font-sizes, "sm");
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  color: color.$primary;
}
