@use "/src/sass/abstracts/abstracts" as *;

.pricing-plan {
  border-radius: 11px;
}

.plan {
  &-name {
    color: $color-primary-shade-1;
    font-weight: 600;
    font-size: font-size(md);
    text-transform: uppercase;
    line-height: 0.8;
  }
  &-price {
    font-size: font-size(xxl);
    font-weight: 600;
    color: $color-gray-1;

    span {
      font-size: font-size(xl);
      font-weight: 500;
    }
  }
  &-text {
    font-size: font-size(sm);
    line-height: 1.6;
    color: $color-gray-2;
  }
}

.starter {
  justify-self: end;
  border: 2px solid $color-primary-tint-1;
  padding: 6.2rem;
}

.complete {
  position: relative;
  overflow: hidden;
  &::after {
    top: 4%;
    right: -8%;
    content: "Best value";
    position: absolute;
    text-transform: uppercase;
    font-size: font-size(xs);
    font-weight: 700;
    background-color: #ffd43b;
    padding: 0.8rem 3.2rem;
    transform: rotate(45deg);
  }
}

.feature {
  &-icon {
    color: $color-primary-base;
    height: 6.4rem;
    width: 6.4rem;
    background-color: $color-primary-tint-2;
    padding: 1.6rem;
    border-radius: 50%;
  }
  &-title {
    font-size: font-size(md);
    color: $color-gray-1;
    font-weight: 700;
  }
  &-text {
    font-size: font-size(sm);
    line-height: 1.6;
  }
}
