@use "/src/sass/abstracts/abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
    // outline: 4px dotted $color-primary-base;
    // outline-offset: 8px;
    box-shadow: 0 0 0 0.8rem rgba($color-primary-base, 0.5);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  color: $color-gray-2;
  line-height: 1; //1.5 the font size
  font-size: 62.5%;
}

.link {
  &:visited,
  &:link {
    display: inline-block;
    text-decoration: none;
    color: $color-primary-base;
    border-bottom: 1px solid currentColor;
    padding-bottom: map-get($map: $spacing-sizes, $key: xxs);

    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $color-primary-shade-1;
    border-bottom: 1px solid transparent;
  }
}

.list {
  list-style: none;

  &-item {
    font-size: font-size(sm);
    line-height: 1.2;
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  color: $color-primary-base;
}
