$gridGapSm: 6.4rem;
$gridGapMd: 9.6rem;

.grid {
  display: grid;
  column-gap: $gridGapSm;
  row-gap: $gridGapMd;

  // Columns
  &-col {
    &-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  // Alignment
  &-center {
    &-y {
      align-items: center;
    }
  }
}
