$spacing-sizes: (
  "xs": 0.8rem,
  "sm": 1.6rem,
  "md": 3.2rem,
  "lg": 4.84rem,
  "xl": 8rem,
);

@each $size, $value in $spacing-sizes {
  .m {
    &-#{$size} {
      margin: $value;
    }

    &y-#{$size} {
      margin: $value 0;
    }

    &x-#{$size} {
      margin: 0 $value;
    }

    &t-#{$size} {
      margin-top: $value;
    }
    &b-#{$size} {
      margin-bottom: $value;
    }
    &l-#{$size} {
      margin-left: $value;
    }
    &r-#{$size} {
      margin-right: $value;
    }
  }
}

@each $size, $value in $spacing-sizes {
  .p {
    &-#{$size} {
      padding: $value;
    }

    &y-#{$size} {
      padding: $value 0;
    }

    &x-#{$size} {
      padding: 0 $value;
    }

    &t-#{$size} {
      padding-top: $value;
    }
    &b-#{$size} {
      padding-bottom: $value;
    }
    &l-#{$size} {
      padding-left: $value;
    }
    &r-#{$size} {
      padding-right: $value;
    }
  }
}
