@use "./colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

$fontPrimary: "Rubik", sans-serif;

$fontSizeHeading: 5.2rem;

$fontWeightDefault: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

.heading-primary {
  font-size: $fontSizeHeading;
  font-weight: 700;
  line-height: 1.05;
  // color: $greySecondary;
  letter-spacing: -0.5px;
}

.font {
  &-color {
    &-shade {
      color: $shadePrimary;
    }
  }

  &-weight {
    &-medium {
      font-weight: $fontWeightMedium;
    }
    &-semibold {
      font-weight: $fontWeightSemiBold;
    }
    &-bold {
      font-weight: $fontWeightBold;
    }
  }
}
