// Try to move to vendor file
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

// Colors
$color-primary-base: #e67e22;

$color-primary-tint-1: #fdf2e9;
$color-primary-tint-2: #fae5d3;
$color-primary-tint-3: #eb984e;

$color-primary-shade-1: #cf711f;
$color-primary-shade-2: #45260a;

$color-gray-1: #333;
$color-gray-2: #555;
$color-gray-3: #888;
$color-gray-4: #767676;

$tag-colors: (
  vegetarian: #51cf66,
  vegan: #94d82d,
  paleo: #ffd43b,
);

// Font
$font-family-primary: "Rubik", sans-serif;

$font-sizes: (
  0: 0rem,
  // small
  xs: 1.2rem,
  // p - normal text
  sm: 1.6rem,
  // long text (eg blog post)
  md: 2.1rem,
  //h3
  lg: 2.8rem,
  // h2
  xl: 3.8rem,
  //headlines
  xxl: 5.1rem,
  xxxl: 6.7rem,
  xxxxl: 8rem,
);

$spacing-sizes: (
  xxxs: 0.4rem,
  // best friends
  xxs: 0.8rem,
  // close friends
  xs: 1.6rem,
  // close-ish friends
  sm: 2.4rem,
  // friends
  md: 3.2rem,
  // acquaintances
  lg: 6.4rem,
  // distant acquaintances
  xl: 7.2rem,
  // stranger
  xxl: 12.8rem,
  xxxl: 16rem,
);

// Breakpoints

$media-breakpoints: (
  // 1344px
  desktop: 84em,
  // 1200px
  tablet-landscape: 75em,
  // 980px
  tablet-portrait: 61.5em,
  // 768px
  tablet-small-portrait: 48em,
  // 550px
  mobile-large: 34.375em
);
