@use "/src/sass/colors/variables" as color;
@use "../spacing/variables" as *;

.link {
  &:visited,
  &:link {
    display: inline-block;
    text-decoration: none;
    color: color.$primary;
    border-bottom: 1px solid currentColor;
    padding-bottom: map-get($map: $spacing-sizes, $key: xs);

    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: color.$primary-shade-1;
    border-bottom: 1px solid transparent;
  }
}
