@use "/src/sass/colors/variables" as color;
@use "../spacing/variables" as *;

@use "/src/sass/typography/variables" as *;

.link {
  &:visited,
  &:link {
    display: inline-block;
    text-decoration: none;
    color: color.$primary;
    border-bottom: 1px solid currentColor;
    padding-bottom: map-get($map: $spacing-sizes, $key: xs);

    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: color.$primary-shade-1;
    border-bottom: 1px solid transparent;
  }
}

.list {
  list-style: none;

  &-item {
    font-size: map-get($font-sizes, "sm");
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  color: color.$primary;
}
