@use "/src/sass/colors/variables" as color;

.link {
  &:visited,
  &:link {
    display: inline-block;
    text-decoration: none;
    color: color.$primary;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;

    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: color.$primary-shade-1;
    border-bottom: 1px solid transparent;
  }
}
