@use "/src/sass/colors/variables" as color;

.step {
  &-number {
    font-size: 8.6rem;
    font-weight: 500;
    color: darkgray;
    margin-bottom: 1.2rem;
  }

  &-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  &-img {
    width: 35%;

    &-box {
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        width: 60%;
        padding-bottom: 60%;
        background-color: color.$tiny-primary;
        z-index: -2;
      }

      &::after {
        width: 45%;
        padding-bottom: 45%;
        background-color: color.$tint-secondary;
        z-index: -1;
      }
    }
  }
}
