$axis: (x, y, xy);

.text-center {
  text-align: center;
}

// Flex Center
.flex-center {
  &-x {
    display: flex;
    justify-content: center;
  }
  &-y {
    display: flex;
    align-items: center;
  }
  &-xy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Centers element
.center {
  &-x {
    margin-left: auto;
    margin-right: auto;
  }

  // * For Gap and Grid
  // align content withing container
  &-content {
    &-x {
      justify-content: center;
    }

    &-x {
      justify-content: center;
    }

    &-y {
      align-content: center;
    }

    &-xy {
      justify-content: center;
      align-content: center;
    }
  }

  // align item withing the cell
  &-items {
    &-x {
      justify-items: center;
    }

    &-y {
      align-items: center;
    }

    &-xy {
      justify-items: center;
      align-items: center;
    }
  }
}
