@use "/src/sass/abstracts/abstracts" as *;

$grid-columns: 1, 2, 3, 4, 5;

$justify-items: (start, end, center, stretch);

.grid {
  display: grid;

  // * Grid Columns -- grid-col-val
  @each $amount in $grid-columns {
    &-col-#{$amount} {
      grid-template-columns: repeat($amount, 1fr);
    }
  }

  //*  Gaps
  @each $key, $value in $spacing-sizes {
    &-gap {
      &-#{$key} {
        gap: $value;
      }

      &-col {
        &-#{$key} {
          column-gap: $value;
        }
      }
      &-row {
        &-#{$key} {
          row-gap: $value;
        }
      }
    }
  }
}
