@use "/src/sass/abstracts/abstracts" as *;

@each $size, $value in $spacing-sizes {
  .m {
    &-#{$size} {
      margin: $value;
    }

    &y-#{$size} {
      margin-top: $value;
      margin-bottom: $value;
    }

    &x-#{$size} {
      margin-left: $value;
      margin-right: $value;
    }

    &t-#{$size} {
      margin-top: $value;
    }
    &b-#{$size} {
      margin-bottom: $value;
    }
    &l-#{$size} {
      margin-left: $value;
    }
    &r-#{$size} {
      margin-right: $value;
    }
  }
}

@each $size, $value in $spacing-sizes {
  .p {
    &-#{$size} {
      padding: $value;
    }

    &y-#{$size} {
      padding-top: $value;
      padding-bottom: $value;
    }

    &x-#{$size} {
      padding-left: $value;
      padding-right: $value;
    }

    &t-#{$size} {
      padding-top: $value;
    }
    &b-#{$size} {
      padding-bottom: $value;
    }
    &l-#{$size} {
      padding-left: $value;
    }
    &r-#{$size} {
      padding-right: $value;
    }
  }
}
