@use "/src/sass/abstracts/abstracts" as *;
@use "/src/sass/abstracts/abstracts" as *;
@use "/src/sass/abstracts/abstracts" as *;

.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    font-weight: 700;
    color: $color-gray-1;
    letter-spacing: -0.5px;
  }

  &-primary {
    @include heading-style(font-size(xxl), 1.05);
  }

  &-secondary {
    @include heading-style(font-size(xl), 1.2);
  }

  &-tertiary {
    @include heading-style(font-size(md), 1.2);
  }
}

.subheading {
  display: block;
  font-size: font-size(md);
  font-weight: 500;
  color: $color-primary-shade-1;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: font-size(xs);
  text-transform: uppercase;
  color: $color-gray-2;
  border-radius: 100px;
  font-weight: 700;

  @each $category, $color in $tag-colors {
    &-#{$category} {
      background-color: $color;
    }
  }
}

.font {
  &-color {
    &-shade {
      color: $color-primary-shade-1;
    }
  }

  @each $size, $value in $font-sizes {
    &-size {
      &-#{$size} {
        font-size: $value;
      }
    }
  }
}
