@use "../variables" as *;

$bg-colors: (
  primary: $color-primary-base,
  tint: $color-primary-tint-1,
);

.bg {
  @each $key, $val in $bg-colors {
    &-#{$key} {
      background-color: $val !important;
    }
  }
}

.text {
  &-color {
    &-shade {
      color: $color-primary-shade-1;
    }
  }
}
