@use "/src/sass/colors/variables" as color;

// Buttons
.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    font-weight: 500;

    transition: background-color 0.3s;
  }

  &-full {
    &:link,
    &:visited {
      background-color: color.$primary;
      color: white;
    }

    &:hover,
    &:active {
      background-color: color.$shade-primary;
    }
  }

  &-outline {
    &:link,
    &:visited {
      background-color: white;
      color: color.$grey-primary;
    }

    &:hover,
    &:active {
      background-color: color.$tiny-primary;
      box-shadow: inset 0 0 0 3px white;
    }
  }
}
