@use "/src/sass/index" as *;

// Buttons
.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: $spacingSm $spacingMd;
    border-radius: 9px;
    font-weight: 500;

    transition: background-color 0.3s;
  }

  &-full {
    &:link,
    &:visited {
      background-color: $colorPrimary;
      color: white;
    }

    &:hover,
    &:active {
      background-color: $shadePrimary;
    }
  }

  &-outline {
    &:link,
    &:visited {
      background-color: white;
      color: $greyPrimary;
    }

    &:hover,
    &:active {
      background-color: $tintPrimary;
      box-shadow: inset 0 0 0 3px white;
    }
  }
}
