@use "/src/sass/abstracts/abstracts" as *;

.gallery {
  @include media(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(tablet-portrait) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.gallery-item {
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
  @include media(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.testomonials-section {
  grid-template-columns: 60fr 40fr;

  @include media(tablet-portrait) {
    padding-inline: spacing-size(xxs);
    grid-template-columns: 1fr;
  }
}

.testimonials {
  @include media(tablet-portrait) {
    gap: spacing-size(xs);
  }
}

.testimonials-container {
  @include media(tablet-portrait) {
    padding-bottom: spacing-size(md);
  }
}

@include media(mobile-large) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: spacing-size(xxxs);
  }
}
