@use "./variables" as *;
@use "../spacing//variables" as *;

.grid {
  // * Grid Columns -- grid-col-val
  @each $amount in $grid-columns {
    &-col-#{$amount} {
      display: grid;
      grid-template-columns: repeat($amount, 1fr);
    }
  }

  &-center {
    &-items {
      // Aligns item withing the cell
      &-y {
        align-items: center;
      }
      &-x {
        justify-items: center;
      }
    }
    // Aligns the cell itself
    &-content {
      &-y {
        align-content: center;
      }
      &-x {
        justify-content: center;
      }
    }
  }

  //*  Gaps
  @each $key, $value in $spacing-sizes {
    &-gap {
      &-#{$key} {
        gap: $value;
      }

      &-col {
        &-#{$key} {
          column-gap: $value;
        }
      }
      &-row {
        &-#{$key} {
          column-gap: $value;
        }
      }
    }
  }
}
