@use "./variables" as *;
@use "../spacing//variables" as *;

.grid {
  display: grid;

  // * Grid Columns
  @each $amount in $grid-columns {
    &-col-#{$amount} {
      grid-template-columns: repeat($amount, 1fr);
    }
  }

  // * Alignment
  &-center {
    &-y {
      align-items: center;
    }
  }

  //*  Gaps
  @each $key, $value in $spacing-sizes {
    &-gap {
      &-#{$key} {
        gap: $value;
      }

      &-col {
        &-#{$key} {
          column-gap: $value;
        }
      }
      &-row {
        &-#{$key} {
          column-gap: $value;
        }
      }
    }
  }
}
