.section-hero {
}

.hero {
  &-section {
    padding: 9.6rem 0;
  }

  &-container {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }

  &-img {
    width: 100%;
  }

  &-description {
    font-size: 2rem;
    line-height: 1.5;
  }
}
