@use "../colors/variables" as color;
@use "./variables" as *;
@use "./mixins" as *;

.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    font-weight: map-get($font-weights, bold);
    color: color.$grey-secondary;
    letter-spacing: -0.5px;
  }

  &-primary {
    @include heading-style(map-get($font-sizes, xl), 1.05, null);
  }

  &-secondary {
    @include heading-style(map-get($font-sizes, lg), 1.2, 9.6rem);
  }

  &-tertiary {
    @include heading-style(map-get($font-sizes, md), 1.2, 3.2rem);
  }
}

.subheading {
  display: block;
  font-size: map-get($map: $font-sizes, $key: sm);
  font-weight: map-get($map: $font-weights, $key: medium);
  color: color.$shade-primary;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: map-get($map: $font-sizes, $key: xs);
  text-transform: uppercase;

  color: color.$grey-secondary;
  border-radius: 100px;
  font-weight: map-get($map: $font-weights, $key: bold);

  @each $category, $color in $tag-colors {
    &-#{$category} {
      background-color: $color;
    }
  }
}

.font {
  &-color {
    &-shade {
      color: color.$shade-primary;
    }
  }

  @each $size, $value in $font-sizes {
    &-size {
      &-#{$size} {
        font-size: $value;
      }
    }
  }
}
