@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

$font-families: (
  "primary": (
    "Rubik",
    sans-serif,
  ),
);

$font-sizes: (
  "xs": 1.2rem,
  "sm": 1.6rem,
  "md": 3rem,
  "lg": 4.4rem,
  "xl": 5.2rem,
);

$font-weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$tag-colors: (
  "vegetarian": #51cf66,
  "vegan": #94d82d,
  "paleo": #ffd43b,
);
