@use "/src/sass/abstracts/variables" as *;

.featured {
  &-heading {
    font-size: map-get($font, sizes, sm);
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    color: map-get($color, gray, 3);
  }

  &-logos {
    img {
      height: 3.2rem;
      filter: brightness(0);
      opacity: 50%;
    }
  }
}
