@use "./variables" as *;

.flex {
  display: flex;

  //  * Directions
  @each $direction, $value in $flex-directions {
    &-#{$direction} {
      flex-direction: $value;
    }
  }

  // * Gaps
  @each $size, $value in $gap-sizes {
    &-gap {
      &-#{$size} {
        gap: $value;
      }
    }
  }
}

@each $option, $value in $justify-content-options {
  .justify-content {
    &-#{$option} {
      justify-content: $value;
    }
  }
}

@each $option, $value in $align-content-options {
  .align-content {
    &-#{$option} {
      align-content: $value;
    }
  }
}

@each $option, $value in $align-items-options {
  .align-items {
    &-#{$option} {
      align-items: $value;
    }
  }
}
