$gap-sizes: (
  xxs: 0.8rem,
  xs: 1.6rem,
  s: 2.4rem,
  m: 3.2rem,
  l: 6.4rem,
  xl: 7.2rem,
  xxl: 12.8rem,
);

$flex-directions: (
  "column": column,
  "column-reverse": column-reverse,
  "row-reverse": row-reverse,
  "wrap": wrap,
);

$justify-content-options: (
  "start": start,
  "end": end,
  "center": center,
  "between": space-between,
  "around": space-around,
);

$align-content-options: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "around": space-around,
  "stretch": stretch,
);

$align-items-options: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
);
