@use "/src/sass/abstracts/abstracts" as *;

.testimonial {
  &-img {
    width: 12.8rem;
    border-radius: 50px;
  }
  &-text {
    @include heading-style(1.8rem, 1.8);
  }
  &-name {
    font-size: font-size(sm);
    color: $color-gray-1;
  }
}

.testimonials {
  @include media(tablet-landscape) {
    gap: spacing-size(sm);
  }
}
