@use "/src/sass/index" as *;

.testimonial {
  &-img {
    width: 6.4rem;
  }
  &-text {
    @include heading-style(map-get($font-sizes, sm), 1.6, 1.4);
  }
  &-name {
    font-size: map-get($font-sizes, xs);
    color: $gray-3;
  }
}
