@use "./sass/typography/variables" as font;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: map-get($map: font.$font-families, $key: "primary");
  color: #555;
  font-weight: 400;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

strong {
  font-weight: 500;
}
