@use "/src/sass/abstracts/abstracts" as *;

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  // background-color: $color-primary-base;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;

  background-image: linear-gradient(
    to right bottom,
    $color-primary-tint-3,
    $color-primary-base
  );

  @include media(tablet-portrait) {
    grid-template-columns: 3fr 2fr;
  }

  &-section {
    @include media(tablet-landscape) {
      padding-bottom: spacing-size(xl);
    }
  }

  &-text {
    font-size: font-size(sm);
    line-height: 1.8;

    @include media(tablet-portrait) {
      margin-bottom: spacing-size(md);
    }

    &-box {
      color: #2e1907;

      .heading-secondary {
        color: #2e1907;
      }
    }
  }

  &-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-tint-3, 0.35),
        rgba($color-primary-base, 0.35)
      ),
      url("../../assets/images/eating.jpg");
    background-size: cover;
    background-position: center;
  }

  &-form {
    @include media(tablet-portrait) {
      grid-template-columns: 1fr;
    }

    *:focus {
      box-shadow: 0 0 0 0.8rem rgba($color-primary-tint-1, 0.5) !important;
    }

    label {
      display: block;
      font-size: font-size(sm);
      font-weight: 500;
      margin-bottom: spacing-size(xxs);
    }

    input,
    select {
      width: 100%;
      padding: spacing-size(xs);
      font-size: font-size(sm);
      font-family: inherit;
      color: inherit;
      border: none;
      background-color: $color-primary-tint-1;
      border-radius: 9px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

      &::placeholder {
        color: #aaa;
      }
    }
  }
}
