$spacing-sizes: (
  xxs: 0.8rem,
  // best friends
  xs: 1.6rem,
  // close friends
  s: 2.4rem,
  // close-ish friends
  m: 3.2rem,
  // friends
  l: 6.4rem,
  //acquaintance
  xl: 7.2rem,
  // distance acquaintance
  xxl: 12.8rem,
  // stranger
);
